/* sugerencias para css
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-primary: #8b90ff;
  --bs-primary-rgb: 139,144,255;
  --brand-color: #8b90ff;
  --base-color: #f2f4f8;
  --surface-color: #fff;
  --text-color: #191b23;
  --secondary-text-color: #3c404f;
  --base-transparent-90: rgba(247, 247, 247, 0.9);
  --base-transparent-100: rgba(247, 247, 247, 1);
  --secondary-color: #ff9f6b;
}

.dark-theme {
  --brand-color: #8b90ff;
  --base-color: #1e1f26;
  --surface-color: #2c2f38;
  --text-color: #f0f0f0;
  --secondary-text-color: #b0b3c0;
  --base-transparent-90: rgba(30, 31, 38, 0.9);
  --base-transparent-100: rgba(30, 31, 38, 1);
  --secondary-color: #e07a4b;
}


.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
.btn-primary:hover {
  background-color: #6e74ff !important;
  border-color: #6e74ff !important;
}
.btn-outline-primary {
  color: #6e74ff;
  border-color: #6e74ff !important;
}
.btn-outline-primary:hover {
  background-color: #6e74ff !important;
  border-color: #6e74ff !important;
}


.note {
  background-color: var(--surface-color) !important;
  border: 1px solid var(--surface-color) !important;
  border-radius: 0.75rem;
  padding: 5px;
  margin-top: 5px;
  
  display: -webkit-box;
  /* igual hay que hacer uno para el titulo y otro para el contenido */
  -webkit-line-clamp: 5;
  line-clamp: 5;
  /* número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.note-link {
  
  text-decoration: none;
  /* color de texto se hereda para las notas */
  color: inherit;
  /*link ocupa todo el espacio en su columna */
  display: block;
  transition: all 0.2s ease-in-out;
}
.note-link:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}


body {
  font-family: Poppins, sans-serif;
  background: var(--base-color);
  color: var(--text-color);
  display: flex; 
  flex-direction: column; /*los hijos header contenido footer en columna */
  min-height: 100vh;
}
header {
  padding: 1rem;
  background: var(--secondary-color);
  color: var(--text-color);
}
footer {
  padding: 1rem;
  background: var(--secondary-color);
  color: var(--text-color);
}


.surfaces{
  margin: 0.5rem;
  padding:0.5rem;
}

.main-content {
    flex-grow: 1; /* contenedor toma todo el espacio restante */
    display: flex; 
    align-items: center; /*verticalmente */
    justify-content: center;
  
}
.mainContainer {
    flex-grow: 1;
  }